.App {
  text-align: center;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.homePage {
  margin-left: 30px;
}
nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

.createPostPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
}

.cpContainer {
  /* width: 500px; */
  width: 70%;
  height: auto;
  padding: 20px;
  background-color:purple;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
}

.cpContainer h1 {
  text-align: center;
}

.cpContainer label {
  font-size: 25px;
}

.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
} 

.iputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.inputGo input { 
  height: 40px;
}

.inputGo textarea {
  height: 150px;
}

.cpContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size:  18px;
}

input, textarea {
  margin-top: 5px;
}

.loginPage {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage p {
  font-size: 30px;
}

/* Google Button */

.login-with-google-btn {
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.04) 0 1px 1px rgba(0,0,0,0.25);
  color: #757575;
  font-weight: 25px;
  font-weight: 500;
  font-family: -apple-system BlinkMacSystemFont, "Segoe UI", 
    Roboto, Oxygen, Ubuntu, Catarell, "Fira Sans",  "Droid Sans", "Helvetica Nene", sans-serif;
  /* background-image: url(data:icons8-google.png); */
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn .logo {
  width: 20%;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px, 0 rgba(0,0,0,0.04), 0 2px 4px rgba(0,0,0,0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px, 0 rgba(0,0,0,0.04), 0 2px 4px rgba(0,0,0,0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px, 0 rgba(0,0,0,0.04), 0 2px 4px rgba(0,0,0,0.25);
  cursor: not-allowed;
}
/* .cpContainer .inputGp {
  margin: 30px;
  display: flex;
  flex-direction: column;
} */


